@using Jiggswap.RazorViewEngine.ViewModels.Trades
@using Jiggswap.RazorViewEngine.ViewModels.EmailCommon
@model NewTradeEmailViewModel

@{
    ViewData["EmailTitle"] = "New Trade Request!";
    ViewData["PreheaderText"] = $"{Model.InitiatorPuzzle.OwnerUsername} wants to trade with you!";
}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            @Model.InitiatorPuzzle.OwnerUsername wants to trade with you.
        </td>
    </tr>
</table>

<hr />

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px">
    <tr>
        <td align="center" valign="top" width="48%" style="max-width: 288px">
            @await Html.PartialAsync("TradePuzzleDetails", Model.RequestedPuzzle)
        </td>

        <td align="center" valign="middle" width="4%" style="max-width: 24px">
            <span style="font-size: 2rem; width: 100%">⇄</span>
        </td>
        <td align="center" valign="top" width="48%" style="max-width: 288px">
            @await Html.PartialAsync("TradePuzzleDetails", Model.InitiatorPuzzle)
        </td>
    </tr>
</table>

<hr />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            You can view your JiggSwap Trades here:
        </td>
    </tr>
    <tr>
        <td align="center">
            @await Html.PartialAsync("EmailButton", new EmailButtonViewModel("View Trades", Model.ViewUrl))
        </td>
    </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            If you have any questions or issues, please get in touch with us by replying to this email.
        </td>
    </tr>
</table>