@using Jiggswap.RazorViewEngine.ViewModels.EmailCommon
@model Jiggswap.RazorViewEngine.ViewModels.Passwords.ForgotPasswordEmailViewModel

@{
    ViewData["EmailTitle"] = "Password Reset Instructions";
    ViewData["PreheaderText"] = $"Your password reset instructions are enclosed.";
}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">Hello,</td>
    </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">Please use the following link to reset your password:</td>
    </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            @await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Reset Password", Model.ResetUrl))
        </td>
    </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">If you have any questions, please get in touch with us by replying to this email.</td>
    </tr>
</table>